.focused-proofreading-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.focused-proofreading-control-row {
  display: flex;
  flex-flow: row;
  background-color: #B0D4AB;
  align-items: center;
  justify-content: center;
  min-height: 0px;
}
